{% extends 'bboard/base.html' %}
{% load bboard_tags %}
 
{% block content %}
 
<h1>{{post.title}}</h1>
 
{% if post.photo %}
  <p><img class="img-article-left" src="{{post.photo.url}}"></p>
{% endif %}

{% autoescape off %}
    {{post.content|linebreaks}}
{% endautoescape %}

{% if request.user.is_authenticated %}
    <div class="clear"></div>
    <p class="link-read-post"><a href="#">Добавить отклик</a></p>
{% endif %}

<h3>Отклики и комментарии:</h3>
<hr>
{% show_replies post_id=post.id %}

{% endblock %}