{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bboard_tags %}

{% block content %}
<form action="{% url 'add_reply' post_slug %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% show_post slug_post=post_slug %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    <p><label class="form-label" for="{{ form.text.id_for_label }}">{{form.text.label}}: </label>{{ form.text }}</p>
    <div class="form-error">{{ form.text.errors }}</div>
<!--    <p><label class="form-label" for="{{ form.is_approved.id_for_label }}">{{form.is_approved.label}}: </label>{{ form.is_approved }}</p>-->
<!--    <div class="form-error">{{ form.is_approved.errors }}</div>-->


<!--    {% for f in form %}-->
<!--    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>-->
<!--    <div class="form-error">{{ f.errors }}</div>-->
<!--    {% endfor %}-->

    <button type="submit">Добавить</button>
</form>

<h3>Отклики и комментарии:</h3>
<hr>
{% show_replies throught_slug=True post_id=post_slug %}

{% endblock %}