{% extends 'base.html' %}

{% block content %}
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Поиск" />
</form>

 <p><a href="{% url 'replies_list_search' %}">Очистить</a></p>

{% if finded_replies %}
    <table cellpadding="2" frame="hsides">
        <caption align="top"> <h4>Найденные объявления</h4></caption>
        <tr>
            <th>Номер</th>
            <th>Автор</th>
            <th>Объявление</th>
            <th>Текст</th>
            <th>Дата обновления</th>
            <th>Разрешено</th>
            <th>Удалить</th>
        </tr>
        {% for reply in finded_replies %}
        <tr>
            <td align="left">{{ reply.pk }}</td>
            <td align="left">{{ reply.user }}</td>
            <td align="left"><a href="{{ reply.post.get_absolute_url }}">{{ reply.post }}</a></td>
            <td align="left">{{ reply.text }}</td>
            <td>{{ reply.time_update|date:'d.M.Y' }}</td>
            <td>
                {% if reply.is_approved %}
                    <a href="{% url 'change_approved' reply.pk %}" title = 'Нажми, чтобы изменить значение на "Нет"'>Да</a>
                {% else %}
                    <a href="{% url 'change_approved' reply.pk %}" title = 'Нажми, чтобы изменить значение на "Да"'>Нет</a>
                {% endif%}
                </form>
            </td>
            <td>
                <form action="{% url 'reply_delete' reply.pk %}" method="delete">
                    <button>Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>Ничего не найдено</h3>
{% endif %}

{% endblock content %}
